* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  width: 100%;
  min-height: 100%;
  background: #02191D;
}

a {
  display: contents;
  color: inherit;
  text-decoration: none;
}

a.active {
  display: contents;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.roboto {
  font-family: "Roboto", serif;
}
.noto {
  font-family: "Noto Serif", serif;
}
.road-rage {
  font-family: "Road Rage", serif;
}
.alatsi {
  font-family: "Alatsi", serif;
}

.container {
  width: 100%;
  /* height: 100%; */
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
}

.header {
  width: 85%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #197686;
  background: #05252C;
  border-radius: 24px;
}

.header section {
  /* width: 30%; */
  gap: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 0.85rem;
}

.header section p {
  cursor: pointer;
  color: #B3B3B3;
  transition: 0.3s ease-in-out;
}

.header section p:hover {
  color: #fff;
}

.header button {
  background: #fff;
  color: #0A0C11;
  cursor: pointer;
  width: 169px;
  height: 52px;
  border-radius: 12px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
}

/* body styling */
.body {
  width: 60%;
  padding: 30px;
  border: 2px solid #0E464F;
  background: #041E23;
  border-radius: 24px;
  margin-top: 50px;
}

@media only screen and (max-width: 1025px) {
  .header {
    width: 90%;
  }

  .body {
    width: 70%;
  }
}

@media only screen and (max-width: 800px ) {
  .header {
    width: 95%;
  }

  .header section {
    gap: 15px;
  }

  .header button {
    width: 145px;
    height: 48px;
    font-size: 0.85rem;
  }

  .body {
    width: 95%;
  }
}

.event-page-constant section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.event-page-constant section h2 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.5rem;
}

.event-page-constant section p {
  color: #fafafa;
}

.event-page-constant span {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background: #0E464F;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.event-page-constant span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 35%;
  background: #24A0B5;
  transition: 0.3s ease-in-out;
}

.event-page-constant span.second::after {
  width: 70%;
  transition: 0.3s ease-in-out;
}

.event-page-constant span.final::after {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.ticket-selection,
.attendee-detail {
  border: 2px solid #0E464F;
  color: #fafafa;
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  background: #08252B;
}

.event-details {
  border: 2px solid #07373F;
  border-radius: 25px;
  background: #090b101a;
  padding: 30px;
  text-align: center;
}

.event-details h2 {
  font-weight: 300;
  font-size: 3.5rem;
}

.event-details p {
  font-size: 0.9rem;
  margin-top: 10px;
}

.ticket-selection span,
.attendee-detail span {
  width: 100%;
  height: 3px;
  display: block;
  border-radius: 20px;
  background: #07373F;
  margin: 30px 0;
}

.select-ticket {
  margin-bottom: 30px;
}

.select-ticket h3,
.tickets-amount h3 {
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: capitalize;
}

.ticket-cover {
  background: #052228;
  border: 2px solid #07373F;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.ticket-cover div {
  width: 30%;
  border-radius: 12px;
  padding: 15px;
  background: transparent;
  border: 2px solid #197686;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  max-height: 105px;
}

.ticket-cover div:hover,
.ticket-cover div.active {
  background: #12464E;
}

.ticket-cover div h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.ticket-cover div h5 {
  text-transform: uppercase;
  font-weight: 350;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.ticket-cover div p {
  font-size: 0.8rem;
}

.tickets-amount select,
.tickets-amount option {
  background: #052228;
  color: #fff;
  width: 100%;
  border: 2px solid #07373F;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.tickets-amount select:focus {
  border: 2px solid #0b5360;
}

.button-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.button-component button {
  text-align: center;
  width: 47.5%;
  height: 40px;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 0.85rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.button-component button:nth-of-type(1) {
  border: 2px solid #24A0B5;
  color: #24A0B5;
  background: transparent;
}

.button-component button:nth-of-type(2) {
  border: 2px solid #24A0B5;
  color: #fff;
  background: #24A0B5;
}

.button-component button:nth-of-type(1):hover {
  border: 2px solid #29c4df;
  color: #29c4df;
}

.button-component button:nth-of-type(2):hover {
  border: 2px solid #29c4df;
  background: #29c4df;
}

.image-upload-section {
  background: #052228;
  border: 2px solid #07373F;
  border-radius: 24px;
  padding: 24px 24px 48px;
}

.image-upload-section h3 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.85rem;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120%;
  width: 40%;
  position: relative;
}

.dropzone {
  width: 100%;
  height: 100%;
  padding: 25px;
  border: 3px solid #24a1b780;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #093344;
  cursor: pointer;
  transition: 0.3s ease;
}

.dropzone.active,
.dropzone:hover {
  border-color: #38b2ac;
  background-color: #0d4458;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fafafa;
}

.upload-content img {
  margin-bottom: 30px;
}

.upload-content p {
  font-size: 0.9rem;
}

.error {
  color: #ff0000;
  margin-top: 8px;
  font-size: 0.8rem;
  position: absolute;
  bottom: -8%;
}

.upload-image-cover {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000033;
  margin-top: 30px;
}

.uploaded {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.attendee-detail form {
  width: 100%;
}

.attendee-detail form div {
  position: relative;
}

.attendee-detail form div p.error {
  /* bottom: 0; */
  right: 0;
}

.attendee-detail form input,
.attendee-detail form textarea {
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  background: transparent;
  color: #fff;
  outline: none;
  border: 2px solid #07373F;
  margin: 10px 0;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}

.attendee-detail form input:focus,
.attendee-detail form textarea:focus {
  border: 2px solid #117789;
}

.attendee-detail form textarea {
  resize: none;
  height: 127px;
}

.attendee-detail form label {
  font-size: 0.85rem;
}

.ticket-booked {
  text-align: center;
}

.ticket-booked h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  margin: 40px 0 20px;
}

.ticket-booked h4 {
  color: #fafafa;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.da-ticket {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.ticket-details {
  width: 260px;
  height: 446px;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid #24A0B5;
  position: absolute;
  top: 20px;
  background: hsla(186, 83%, 7%, 0.1);
  display: flex;
  flex-direction: column;
  /* justify-content: baseline; */
  align-items: center;
}

.ticket-event-details {
  color: #fff;
  margin-top: -20%;
}

.ticket-event-details h2 {
  font-weight: 300;
  font-size: 2.2rem;
}

.ticket-event-details p {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.ticket-event-details p:nth-of-type(1) {
  margin-top: -15px;
}

.img-container {
  width: 140px;
  height: 140px;
  min-width: 140px;
  min-height: 140px;
  border-radius: 12px;
  border: 5px solid #24a1b780;
  margin: 10px 0;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  border: none;
}

.main-details {
  color: #fff;
  background: #08343C;
  border: 2px solid #133D44;
  border-radius: 8px;
  padding: 4px;
  width: 100%;
  /* height: 200px; */
}

.main-details section {
  width: 100%;
  display: flex;
  align-items: center;
}

.main-details section div {
  width: 50%;
  padding: 4px;
  text-align: left;
  border-bottom: 2px solid #133D44;
  overflow: hidden;
}

.main-details h5 {
  opacity: 33%;
  font-weight: 400;
  margin-bottom: 5px;
}

.main-details p {
  font-size: 0.6rem;
}

.main-details section div:nth-of-type(1) {
  border-right: 2px solid #133D44;
}

.last-last {
  display: block !important;
  text-align: left;
  height: 80px;
}

.bar-code {
  position: absolute;
  bottom: 20px;
}

.bar-code img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .header section {
    display: none;
  }

  .event-page-constant section h2 {
    font-size: 1.2rem;
  }

  .event-page-constant section {
    font-size: 0.9rem;
  }

  .event-details h2 {
    font-size: 2.5rem;
  }
  
  .event-details p {
    font-size: 0.8rem;
  }

  .event-details p br {
    display: none;
  }

  .event-details p {
    margin-bottom: 5px;
  }

  .ticket-cover {
    flex-direction: column;
    gap: 15px;
  }

  .ticket-cover div {
    width: 100%;
  }

  .ticket-cover div h4 {
    font-size: 1.2rem;
  }
  
  .ticket-cover div h5 {
    font-size: 0.8rem;
  }
  
  .ticket-cover div p {
    font-size: 0.7rem;
  }

  .select-ticket h3,
  .tickets-amount h3 {
    font-size: 0.8rem;
  }

  .image-upload-section h3 {
    font-size: 0.8rem;
  }

  .upload-container {
    width: 100%;
    height: 100%;
  }

  .error {
    margin-top: 12px;
    bottom: -12%;
    font-size: 0.65rem;
  }

  .error-two {
    margin-bottom: 5px;
    bottom: -5%;
  }

  .attendee-detail form input,
  .attendee-detail form textarea {
    margin-bottom: 20px;
  }

  .ticket-booked h2 {
    font-size: 1.7rem;
  }
  
  .ticket-booked h4 {
    font-size: 0.9rem;
  }

  .ticket-details {
    width: 230px;
    height: 416px;
    top: 40px;
  }

  .button-component button {
    font-size: 0.7rem;
  }

  .main-details {
    max-height: 150px;
  }
}

@media only screen and (max-width: 400px) {
  .event-details h2 {
    font-size: 2rem;
  }
  
  .event-details p {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 330px) {
  .ticket-details {
    width: 180px;
    height: 330px;
    top: 90px;
  }
  
  .ticket-event-details {
    margin-top: -30%;
  }
  
  .ticket-event-details h2 {
    font-size: 1.2rem;
  }
  
  .ticket-event-details p {
    font-size: 0.55rem;
  }
  
  .img-container {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
  }
  
  .main-details h5 {
    font-size: 0.6rem;
  }
  
  .main-details p {
    font-size: 0.4rem;
  }
  
  .last-last {
    display: block !important;
    text-align: left;
    height: 45px;
  }
  
  .bar-code {
    position: absolute;
    bottom: 80px;
    width: 180px;
  }
}